html,body{
  height: 100%;
  padding: 0rem;
  margin: 0rem;
  font-size: 0.9rem;
}
#app{
  height: 100%;
}
#main{
  height: 100%;
}
.el-header.el-footer {
  color: #333;
  text-align: center;
  #line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  color: #333;
  text-align: center;
}
.el-container {
  height: 100%;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.el-menu{
  width: 80%;
}

.el-header{
  display: flex;
  justify-content: center;
}
.el-main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-main{
  width: 28rem;
  height: 35rem;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  background-repeat: no-repeat;
  background-image: url(/static/img/timg.png);
}

@media screen and (max-width:420px){
  .index-main {
    width: 22rem;
    height: 30rem;
  }
}

@media screen and (max-width:350px){

  .index-main {
    width: 18rem;
    height: 24rem;
  }
}

.weixin-qcode{
  width: 25rem;
  height: 25rem;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  background-repeat: no-repeat;
  background-image: url(/static/img/weixin.jpg);
}

#sidebar{
  width: 10rem;
  height: 100%;
  left: 0rem;
  top: 5rem;
  position: fixed;
  background: #ffffff;
  z-index: 3;
  box-shadow:2px 0px 3px #000
}

#sidebar .el-menu{
  width: 100%;
  background-color: #ffffff;
  text-color:"#fff";
  active-text-color:"#ffd04b";
}

#sidebar .el-menu a:hover {
  color: #000;
}

#sidebar .el-menu a {
  color: #000;
  text-decoration:none
}

#sidemenu{
  width: 10rem;
  height: 5rem;
  left: 0rem;
  top: 0rem;
  position: fixed;
  background: #f9f9f9;
  z-index:4;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow:2px 0px 3px #000

}

#sidemenu .el-icon-caret-right{
   font-size: 4rem;
   color: #ffffff;
   line-height:inherit;
 }

#sidemenu .el-icon-caret-bottom{
  font-size: 4rem;
  color: #ffffff;
  line-height:inherit;
}

.menu-move-to-right{
  transform: translate(12rem,0rem);
  -ms-transform: translate(12rem,0rem);		/* IE 9 */
  -webkit-transform: translate(12rem,0rem);	/* Safari and Chrome */
  -o-transform: translate(12rem,0rem);		/* Opera */
  -moz-transform: translate(12rem,0rem);		/* Firefox */
  transition: transform 100ms linear 0s;
}

.menu-move-to-left{
  transform: translate(0rem,0rem);
  -ms-transform: translate(0rem,0rem);		/* IE 9 */
  -webkit-transform: translate(0rem,0rem);	/* Safari and Chrome */
  -o-transform: translate(0rem,0rem);		/* Opera */
  -moz-transform: translate(0rem,0rem);		/* Firefox */
  transition: transform 100ms linear 0s;
}

.el-dialog__body{
  display: flex;
  justify-content: center;
}
.index-card-left{
  text-align: left;
}
.el-collapse-item .el-collapse-item__header{
  background: #f4f4f4;
}
.el-tabs{
  width: 30rem;
  height: 90%;
}

@media screen and (max-width:560px){
  .el-header .el-menu{
    display: none;
  }

  #sidebar{
    left: -12rem;
  }
}

@media screen and (min-width:560px){
  #sidebar{
    display: none;
  }
  #sidemenu{
    display: none;
  }
}
