.card-group{
  height: 400px;
}
.btn_menu{
  left: 350px;
  top: 20px;
  position: absolute;
}
.idx{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.timg{
  position: absolute;
  #border-radius: 20px;
  background-image: url(/static/img/timg.png);
  margin:0 auto;
  width: 400px;
  height: 401px;
  #border:1px solid #ff5800
}

.menu{
  position: absolute;
  #border-radius: 20px;
  margin:0 auto;
  width: 300px;
  height: 400px;
  #border:1px solid #ff5800
}

.in-out-translate-wrapper{
  width: 400px;
  height: 401px;
}

.in-out-translate-fade-enter-active, .in-out-translate-fade-leave-active {
  transition: all .5s;
}
.in-out-translate-fade-enter, .in-out-translate-fade-leave-active {
  opacity: 0;
}
.in-out-translate-fade-enter {
  transform: translateX(31px);
}
.in-out-translate-fade-leave-active {
  transform: translateX(-31px);
}
