html{
  font-size: 16px;
}
.card-group{
  height: 100%;
}
.btn_menu {
  position: absolute;
  left: 70%;
  top: 3rem;
}
.btn_menu button{
   margin-top: 10px;
 }
.btn_menu a{
  margin-top: 10px;
}

.btn_menu_git{
  top: 1rem;
  position:relative
}

.idx{
  display:flex;
  justify-content:center;
}

.timg{
  height: 28rem;
  position: absolute;
  margin:0 auto;
}

.timg img{
  width: 28rem;
}

@media screen and (max-width:560px){
  .timg img{
    width: 24rem;
  }
}
.index-list-header{
  font-weight:bold;
  background: #9fcdff;
}
.menu {
  position: absolute;
  top: 30%;
  transform: translate(0%,-40%);
}

.in-out-translate-wrapper{
  width: 100%;
  height: 100%;
}
.in-out-translate-fade-enter-active, .in-out-translate-fade-leave-active {
  transition: all .5s;
}
.in-out-translate-fade-enter, .in-out-translate-fade-leave-active {
  opacity: 0;
}
.in-out-translate-fade-enter {
  transform: translateX(31px);
}
.in-out-translate-fade-leave-active {
  transform: translateX(-31px);
}

